@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body
{
    background-color: gray;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.topnav 
  {
    background-color: #333;
    overflow: hidden;
  }

.topnav a 
  {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a:hover 
  {
    background-color: rgba(81, 70, 70, 0.534);
  }

.topnav a.active 
  {
    background-color: rgba(255, 255, 255, 0.244);
    color: white;
  }

.navh1
  {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: -180px;
    left: 480px;
  }

.navh12
  {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    top: -25px;
    left: 30px;
  }

.box
 {
    position: absolute;
    left: 40px;
    height: 38.5%;
    width: 100%;
    max-width: 800px;
    top: 145px;
    padding: 200px;
    background: rgba(29, 24, 24, 0.634);
    box-shadow: 0 5px 15px rgba(0, 0, 0,.5);
    align-items: center;
    justify-content: center;
 }

section
 {
    padding: 0 100px;
    height: 10vh;
    display: flex;
    justify-content: center;
 }

.sidenav 
 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidenav a 
 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidenav a:hover 
 {
    color: #f1f1f1;
 }
  
.sidenav .closebtn 
  {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 36px;
    margin-left: 50px;
  }
  
@media screen and (max-height: 450px) 
  {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.buttonComingSoon1
{
    background: rgba(255, 255, 255, 0.244);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 220px;
    left: 60px;
    border-radius: 12px;
    width: 1150px;
}
.buttonComingSoon1:hover {
    background: rgba(98, 87, 87, 0.185);
    color: white;
}

.buttonComingSoon2
{
    background: rgba(255, 255, 255, 0.244);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 280px;
    left: 60px;
    border-radius: 12px;
    width: 1150px;
}
.buttonComingSoon2:hover {
    background: rgba(98, 87, 87, 0.185);
    color: white;
}

.buttonComingSoon3
{
    background: rgba(255, 255, 255, 0.244);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 340px;
    left: 60px;
    border-radius: 12px;
    width: 1150px;
}
.buttonComingSoon3:hover {
    background: rgba(98, 87, 87, 0.185);
    color: white;
}
 